* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
/* Utility classes */
.primary-btn {
  background: #372865;
  color: #fff;
  padding: 1.3em;
  border-radius: 5px;
  font-weight: 600;
}
.primary-btn:hover {
  cursor: pointer;
  background: #a79dc3;
}
.container {
  width: 80%;
  margin: 0 auto;
}
body {
  background-color: #f6f9fe;
  color: #5f5f5f;
  font-family: 'Nunito', sans-serif;
}
.flex {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  justify-content: space-between;
  margin-top: 1.5em;
  height: 70px;
}
nav ul li {
  display: inline-block;
  margin-left: 2.5em;
}
header a {
  color: #5f5f5f;
}
.hamburger {
  display: none;
}
/* Main content */
main {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: calc(100vh - 170px);
}
.main-content {
  display: flex;
  justify-content: space-around;
  align-items: center;
  justify-content: space-between;
}
.main-content div:nth-child(1) {
  width: 60%;
}
.main-content div:nth-child(2) {
  width: 40%;
  text-align: right;
}
.main-content div:nth-child(2) img {
  width: 70%;
}
.subheading {
  background: #372865;
  color: #a79dc3;
  padding: 0.8em 1.5em;
  border-radius: 50px;
  display: inline-block;
}
.subheading a {
  color: #a79dc3;
  text-decoration: underline;
}
h1 {
  color: #353252;
  font-size: 4.5em;
  margin-top: 30px;
  line-height: 1.2;
}
p {
  line-height: 1.6;
  font-size: 1.2em;
}
form {
  margin-top: 30px;
}
input[type=text] {
  height: 60px;
  margin-right: 10px;
  width: 400px;
  border: 1px solid #cccccc;
  border-radius: 5px;
  padding-left: 20px;
}
input[type=text]:focus {
  outline: none;
}
input[type=submit] {
  border: none;
  font-size: 16px;
  -webkit-appearance: none;
}
::placeholder {
  color: #959393;
  font-size: 1.2em;
}
/* Socials */
.socials {
  margin-top: 50px;
}
.socials p {
  font-weight: 600;
  margin-bottom: 1em;
}
.socials img {
  margin-right: 1em;
  visibility: hidden;
}
/* Tablet */
@media (max-width: 768px) {
  .hamburger {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
    z-index: 2;
  }
  .hamburger span {
    width: 35px;
    height: 4px;
    background: #372865;
    display: inline-block;
    margin-bottom: 5px;
  }
  .active {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 100%;
    background: #372865ef;
    z-index: 1;
  }
  nav {
    position: absolute;
    width: 550px;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    text-align: center;
    display: none;
  }
  nav .btn {
    margin-top: 1em;
    display: inline-block;
    background: #f6f9fe;
    color: #372865;
  }
  nav ul li {
    display: block;
    margin-top: 2em;
    margin-left: 0;
  }
  nav ul li a {
    color: #ffffff;
    font-size: 1.5em;
  }
  main div div {
    flex-direction: column;
  }
  .animated-image {
    display: none;
  }
  .main-content div:nth-child(1) {
    width: 100%;
    text-align: center;
  }
}
/* Mobile */
@media (max-width: 481px) {
  main {
    height: auto;
  }
  h1 {
    font-size: 2.5em;
  }
  input[type=text],
  input[type=submit] {
    width: 100%;
  }
  input[type=submit] {
    margin-top: 5px;
  }
}
